.button {
    background-color: #dad9d8;
    padding: 0.5em;
    font-weight: 700;
    transition: all 0.2s ease-out;
    text-shadow: 0px 1px 0px #fff;
    border-radius: 4px;
    outline: none;
    border: 1px solid $border-color-button;
    white-space: nowrap;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 1px 0px 0px rgba(255, 255, 255, .5) inset, 0 -5px 5px 0px rgba(0, 0, 0, 0.05) inset;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, 0) 50%);

    &:hover {
        background-color: #298bb8;
        transition: all 0.05s ease-out;
        box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, .5) inset;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, 0) 50%);
        text-shadow: 0px 1px 0px rgba(255, 255, 255, .5);
    }

    &:active {
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 1px 0px 0px rgba(255, 255, 255, .6) inset;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, .35) 51%, rgba(255, 255, 255, 0) 51%);
        &:focus {
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px 0px rgba(255, 255, 255, .5) inset;
        }
    }

    &:focus {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px 0px rgba(255, 255, 255, .5) inset;
    }
}