$white: #fff;
$black: #000;

$main-bg-color: #f6f5f5;
$component-bg-color: #ffffff;
$border-color: #e4e4e4;
$border-color-input: #b7b6b6;
$border-color-button: #999999;
$row-alt-color: #f4f7fa;

$text-color: #333333;
$link-color: #448ccb;
$link-hover: #306590;
$link-color-visited: #448ccb;